%h2=t('.subject', resource_name: resource_name.to_s.humanize)
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      =t('.currently_waiting_confirmation', email: resource.unconfirmed_email)
  .field
    = f.label :phone_number
    %br/
    = f.phone_field :phone_number
  .field
    = f.label :password
    %i=t('.leave_blank')
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i=t('.need_current_password')
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit t('.update')
%h3=t('.cancel')
%p
  #{t('.unhappy')} #{button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.confirm') }, method: :delete}
= link_to t('.back'), :back
