%h1=t('.title')

%table.table
  %thead
    %th #
    %th= Order.human_attribute_name :uid
    %th= Order.human_attribute_name :amount
    %th= Order.human_attribute_name :revo_status
    %th
  %tbody
    -@orders.each_with_index do |o, i|
      %tr{style: "#{'font-weight: 600' if i.zero? }"}
        %td= o.id
        %td= o.uid
        %td= o.amount
        %td= o.revo_status ? t(".#{o.revo_status}") : ''
        %td= link_to t('.view_order'), order_path(o)
