%h1=t('.title', order_id: @order.id)
%h2=t('.items')
%table.table
  %tbody
    -@order.products.each do |p|
      %tr
        %td= p.name
        %td= p.price
    %tr
      %td
      %td=@order.amount
    %tr
      %td= t('activerecord.attributes.order.revo_amount')
      %td= @order.revo_amount

.row
  .col-lg-6
    .panel.panel-default.order-loan
      .panel-heading=t('.pay_later')
      .panel-body
        .progress
          .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
        .loan-btn
          -#=link_to 'Buy', '#', class: 'btn btn-warning'
          %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
            =t('.checkout_preliminary')
        .loan-error=t('.order_already_processed')

  .col-lg-6
    .panel.panel-default.full-order-loan
      .panel-heading=t('.pay_later')
      .panel-body
        .progress
          .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
        .loan-btn
          %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
            =t('.checkout_full')
        .loan-error=t('.order_already_processed')

.row
  .col-lg-6
    .panel.panel-default.factoring-order-loan
      .panel-heading=t('.pay_later')
      .panel-body
        .progress
          .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
        .loan-btn
          %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
            =t('.factoring')
        .loan-error=t('.order_already_processed')

  .col-lg-6
    .panel.panel-default.factoring-precheck-order-loan
      .panel-heading=t('.pay_later')
      .panel-body
        .progress
          .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
        .loan-btn
          %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
            =t('.factoring_precheck')
        .loan-error=t('.order_already_processed')
        .loan-finish-btn
          %button.btn.btn-success
            =t('.emulate_precheck')
        .loan-cancel-btn
          %button.btn.btn-danger
            =t('.emulate_cancel')

.row.checkout
  .col-lg-12
    .panel.panel-default
      .panel-heading=t('.payu_checkout')
      .panel-body
        %table.table.table-condensed
          %tr
            %td=image_tag(asset_path('logos/revo.svg'))
            %td=t('.revo_3')
            %td=link_to t('.next_step'), '', class: 'btn btn-xs btn-success payu-btn', data: {term: 3, toggle: :modal, target: '#revoModal'}
          %tr
            %td=image_tag(asset_path('logos/revo.svg'))
            %td=t('.revo_6')
            %td=link_to t('.next_step'), '', class: 'btn btn-xs btn-success payu-btn', data: {term: 6, toggle: :modal, target: '#revoModal'}
          %tr
            %td=image_tag(asset_path('logos/visa_mastercard.png'))
            %td=t('.visa_mastercard')
            %td=link_to t('.next_step'), '', class: 'btn btn-xs btn-success payu-btn disabled'

:javascript
  revoLoan = new RevoLoan(#{@order.id})
  revoLoan.check()
  revoLoan.full_check()
  revoLoan.factoring_check()
  revoLoan.factoring_precheck_check()
