%div.target
%script{ :src => "/assets/revoiframe.js" }
- url = "#{request.protocol}#{request.host_with_port}/pages/v2"
%script= "REVO.Form.show('#{url}', '.target');"
%script= "REVO.Form.onClose(function () { alert('closed'); });"