%h1=t('.title')

%table.table
  %thead
    %th
    %th= Product.human_attribute_name :name
    %th= Product.human_attribute_name :quantity
    %th= Product.human_attribute_name :price
  %tbody
    -@items.each do |id, item|
      %tr{id: id}
        %td.text-center= image_tag item[:image.to_s], height: 25
        %td= item[:name.to_s]
        %td
          %input.form-control.cart-item-quantity{value: item[:quantity.to_s], type: 'number', min: 0.1, max: 10, step: 0.1}
        %td
          - price = (item[:price.to_s] * item[:quantity.to_s]).to_i
          %span.cart-item-price{data: {initial_price: item[:price.to_s], price: price}}
            = price
    %tr
      %td.text-right{colspan: 2}=t('.total')
      %td{colspan: 2}
        %span.total-price{data: {price: @total}}
          = @total
%p
  =link_to t('.confirm_order'), orders_path, class: 'btn btn-success', method: :post
  =link_to t('.back_to_store'), root_path, class: 'btn btn-success'

:javascript
  new Cart()
