!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : t('title')
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = render 'shared/favicons'
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %a.navbar-left.col-md-2(href="/")
          = locale_logo(I18n.locale)
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav.pull-right
            -if user_signed_in?
              %li= link_to current_user.email, edit_user_registration_path
              %li= link_to t('sign_out'), destroy_user_session_path, method: :delete
            -else
              %li= link_to t('sign_in'), new_user_session_path
              %li= link_to t('sign_up'), new_user_registration_path
          -if user_signed_in?
            %ul.nav.navbar-nav
              %li= link_to t('activerecord.models.orders'), orders_path
    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
          =render 'shared/iframe_popup'
        .col-lg-3
          -if user_signed_in?
            =render 'shared/cart'
            =render 'shared/check_limit'
            =render 'shared/check_factoring_limit'
      %footer
        %p=t('footer_html')
  = javascript_include_tag Rails.application.secrets.revo_js_url
